---
import Layout from '../layouts/Layout.astro';
import LandingPage from '../components/landing/LandingPage';
---

<Layout title="Celebrating Trey Stock">
  <main>
    <LandingPage client:load />
  </main>
</Layout>