---
import Layout from '../layouts/Layout.astro';
import { RouterProvider } from 'react-router-dom';
import { router } from '../router';

---

<Layout title="Celebrating Trey Stock">
  <main>
    <RouterProvider client:load router={router} />
  </main>
</Layout>